doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title 15.04
      link(rel="stylesheet", href="./assets/css/app.css")
   body 
       // h1 Title h1
       //- p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nobis nostrum, nemo necessitatibus eveniet quas fugit. Harum animi ad quisquam maxime beatae! Facilis id dolor asperiores aut odit. Necessitatibus, rem.
       img(src="./assets/imgs/01.png", alt="img")
       